# Flutter/Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
build/

# IDE
.idea/
*.iml
.vscode/

# macOS
.DS_Store

# dont kill me please
.qodo/

# iOS
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Pods/
ios/.symlinks/
ios/Runner/GeneratedPluginRegistrant.*

# Android
**/local.properties
**/.cxx/
android/.gradle/
android/keystores/

# CI artifacts
site/
downloads/
